<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/jquery-3.7.1.min.js"></script>
        <script src="js/header.js"></script> 
        <script src="js/footer.js"></script>
        <script>
            const pos = sessionStorage.getItem('scrollPos');
            if (pos !== null) {
            window.scrollTo(0, parseInt(pos, 10));
            }
        </script>
        <title>Nexora</title>
    </head>
    

<body>
    <div id="header-container"></div>

    <div class="content-wrapper">
        
        <div class="side-nav">
            <img src="img/side-nav-learninghub.svg"  />
        </div>
        
        <div class="page-content-wrapper">
            
            <div class="breadcrumb"><img src="img/right-arrow.svg" />
                <a href="form-contract.html">Form Contract</a> <img src="img/right-arrow.svg" />
                <a href="negotiation.html">Negotiation Preparation and Tradeoff Analysis</a><img src="img/right-arrow.svg" />
                <span>Assess</span>
            </div>
            
            <div class="page-content">
                <div class="hotspots">
                    <img src="img/assess-5-page.svg">
                    <a id="assess5Submit" class="hotspot hs-c">SUBMIT</a>
                </div> 
               
            </div>
        
        </div>
    
    </div>
    
    <div id="footer-container"></div>
    <script src="js/inject.js"></script>
    <script>
       $(document).ready(function() {

      $('#assess5Submit').on('click', function(e) {
        e.preventDefault();
        window.location.href = 'assess-6.html'; // Replace with your file
      });
    });
        window.addEventListener('beforeunload', function() {
            sessionStorage.setItem('scrollPos', window.scrollY);
        });

        // Instantly restore scroll position on load
        window.addEventListener('load', function() {
            const scrollPos = sessionStorage.getItem('scrollPos');
            if (scrollPos !== null) {
            window.scrollTo({
                top: parseInt(scrollPos, 10),
                left: 0,
                behavior: 'instant' // <— instantly sets position, no scroll animation
            });
            
            }
        });
    </script>

</body>

</html>