<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/jquery-3.7.1.min.js"></script>
        <script src="js/header.js"></script> 
        <script src="js/footer.js"></script>
        <title>Nexora</title>
    </head>
    

<body>
    <div id="header-container"></div>

    <!--
    <div class="home-creator">
        
        <img src="img/home-viewer.svg" />

    </div>-->

    <div class="content-wrapper">
        
        <div class="side-nav">
            <img src="img/side-nav-learninghub.svg"  />
        </div>
        
        <div class="page-content-wrapper">
            <div class="back"><a href="form-contract-2.html">Back to Form Contract</a></div>
            
            <div class="page-content">
                <div class="hotspots">
                    <a href="form-contract-3.html"><img src="img/wrap-up-2-page.svg"></a>
                    <!--<form class="hotspot-form" id="hs-form" action="#">
                        <textarea type="text" placeholder="Type your answer here"></textarea>
                    </form>
                    <a href="#" class="hotspot" id="hs-f">Submit</a>-->
                </div> 
                
            </div>
        
        </div>
    </div>
    
    <div id="footer-container"></div>
    <script src="js/inject.js"></script>

</body>

</html>